<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649595040835-bidcqqgaujil69aloe1auss6hf4lckcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649595040835-bidcqqgaujil69aloe1auss6hf4lckcs</string>
	<key>API_KEY</key>
	<string>AIzaSyBpWZ3ubhdZ7sH7o03K4IgTf0fVUhv3ld4</string>
	<key>GCM_SENDER_ID</key>
	<string>649595040835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>serrano.Secret2</string>
	<key>PROJECT_ID</key>
	<string>secret2-f0d51</string>
	<key>STORAGE_BUCKET</key>
	<string>secret2-f0d51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649595040835:ios:b5bc84520dff12179d10f6</string>
</dict>
</plist>